* {
  margin: 0;
  padding: 0;
}
body{
  font-family:  sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
  /* color */
  --colorPrimary:#0D263B;
  --colorSecondary:#696969;
  /* bg */
  --backgroundPrimary:#0061DF;
  /* padding */

  --padding:0vh 130px
}
.hgh{
  color: #fa8c1e;
}